body {
    background: var(--m-3-sys-dark-outline, #8f9285);
}

body * {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.tituloSite {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;

    border-radius: var(--arredondamento-do-cantos);
    background: var(--m-3-sys-light-surface-container-lowest, #ffffff);
    color: #466800;
    display: flex;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    height: 100px;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 0.1px;
    align-items: center;
    justify-content: center;
}


main {
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tituloSite,
.container-login {
    width: 100%;
    max-width: 460px;
}


.container-login {
    background: var(--m-3-sys-light-surface-container-lowest, #ffffff);
    border-radius: var(--arredondamento-do-cantos);

    padding: 50px 0 50px 0;

    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-texto {
    color: var(--m-3-sys-light-primary, #466800);
    text-align: center;
    font: var(--m-3-label-large, 500 14px/20px "Roboto", sans-serif);
    font-size: large;
}


.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

option,
.campo-texto-2 {
    background: var(--m-3-sys-light-surface-container-highest, #e4e3db);
}

.campo-texto-2 {
    border-radius: 4px 4px 0px 0px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding-right: 5px;
    margin-top: 15px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    flex: 1;
    position: relative;
    padding: 0.375rem 0 0.375rem 1rem;
    
}


.rotulo-texto-2 {
    color: var(--m-3-sys-light-on-surface-variant, #45483d);
    text-align: left;
    font: var(--m-3-body-small, 400 12px/16px "Roboto", sans-serif);
    position: relative;
    padding-left: 2px;
}



.estilo-input {
    outline: 0;
    background: var(--m-3-sys-light-surface-container-highest, #e4e3db);
    display: inline-block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 0;

    margin: 0;
    font-size: inherit;
}




.botoes {
    padding: 8px;
    background-color: transparent;
    border: 0;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
}


.indicador-ativo {
    border-style: solid;
    border-color: var(--m-3-sys-light-on-surface-variant, #45483d);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
}


/* .texto-suporte-2 {
    padding: 4px 16px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;

    color: var(--m-3-sys-light-on-surface-variant, #45483d);
    text-align: left;
    font: var(--m-3-body-small, 400 12px/16px "Roboto", sans-serif);
    position: relative;
    flex: 1;
} */

.area-avatar-3d {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
}

.avatar-3d {
    width: 120px;
    height: 120px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.botao-estendido {
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    height: 50px;
    width: max-content;
    align-items: center;
    margin-top: 25px;
    background: var(--m-3-sys-light-surface-container-high, #e9e8e1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border: 0;
}

.botao-selecionado:hover {
    background: var(--m-3-sys-light-secondary-container);
    cursor: pointer;
}

/* .texto-grupo-entrada {
    display: flex;
    align-items: center;
    padding: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
} */